Package: biglinux-repository-testing
Conflicts: biglinux-repository
Version: 2020.03-1focal1
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size:16
Section: admin
Priority: optional
Description: BigLinux TESTING repository and key

